.coffe__machine__wrapper {
  padding-bottom: 100px;
  background: #14110e;
  .coffe__machine {
    height: 535px;
    color: white;
    background: #1c1814;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    &__image {
      display: grid;
      place-items: center;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 36px;
      padding: 0 80px 0 0;
      h2 {
        font-size: 48px;
        font-weight: 400;
        line-height: 62px;
      }
      p {
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #ffffffcc;
      }
      button {
        cursor: pointer;
        color: white;
        font-weight: 700px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        line-height: 22px;
        padding: 20px 36px;
        background-color: #c99e71;
        &:hover {
          background: dodgerblue;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .coffe__machine__wrapper {
    .coffe__machine {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 20px;
      &__content {
        justify-content: center;
        align-items: center;
        width: 100%;
        h2 {
          width: 70%;
        }
        p {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .coffe__machine__wrapper {
    .coffe__machine {
      display: flex;
      flex-direction: column;
      border: 2px solid red;
      height: auto;
      gap: 20px;
      &__content {
        h2 {
          font-size: 30px;
          line-height: 40px;
        }
        h2 {
          width: 100%;
        }
        p {
          font-size: 15px;
          width: 100%;
        }
        .btn {
          width: 100%;
        }
        .btn button {
          font-size: 15px;
          padding: 10px 20px;
        }
      }
    }
  }
}
