.header {
  background: #1c1814;
  .navbar {
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
      display: flex;
      gap: 48px;
    }
    &__logo {
      max-width: 100%;
    }
    &__menu__bar {
      color: white;
      display: none;
    }
    &__link {
      color: white;
      span {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
      }
      &:hover span {
        color: dodgerblue;
        text-decoration: underline;
      }
      .fa__icon:hover {
        color: dodgerblue;
      }
    }
  }
}
@media (max-width: 1000px) {
  .header {
    .navbar {
      justify-content: space-around;
      &__list.right {
        display: none;
      }
    }
  }
}
@media (max-width: 600px) {
  .header {
    .navbar {
      justify-content: space-between;
      &__list {
        display: none;
      }
      &__menu__bar {
        display: block;
        cursor: pointer;
      }
    }
  }
}
